<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title>Spa Menu</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<h1>My Super Fancy Spa</h1>
<div id = "clientProfile">
    <h2>My Profile</h2>
    <p th:text="${name}">Name: Default</p>
    <p th:text="${skintype}"></p>
    <p th:text="${manipedi}"></p>
</div>
<div id = "servicesMenu">
    <p>Menu Of Available Services</p>
    <p>Facial Treatments</p>
    <p>The facial treatments below are recommended by our estheticians for your skin type.</p>
    <table>
        <tbody>
        <th:block th:each="appropriateFacial :${appropriateFacials}">
            <tr>
                <td th:text="${appropriateFacial}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <div th:if="${manipedi == manicure}">
        <h3 th:text="Manicure"></h3>
        <p  th:replace ="fragments :: manicureDescription"></p>
    </div>
    <div>
        <h3 th:text="Pedicure"></h3>
        <p th:replace ="fragments :: pedicureDescription"></p>
    </div>
</div>
</body>
</html>